*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #456436;
}
.parent {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas: 
    "s1 heading s2"
    "s1 heading s2"
    "player player player"
    "player player player"
    "vs vs vs"
    "bot bot bot"
    "bot bot bot";
    gap: 8px;
}
.s1{
    grid-area: s1;
    border-radius: 20px;
    background-color: #1c3815;
    border: 1px solid #1c3815;
    margin-top: 40px;
    margin-left: 40px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    
}
.s1 img{
    width: 220px;
}
.text{
    font-size: 35px;
    font-family: "moldieFont",sans-serif;
    color: rgb(240, 255, 241);

}
.s2{
    grid-area: s2;
    border-radius: 20px;
    margin-top: 40px;
    margin-right: 40px;
    background-color: #2A2A2A;
    border: 1px solid #2A2A2A;
    padding: 30px;
    display: flex;
    justify-content: space-between;
        
}
.s2 img{
    width: 105px;
}
.header{
    grid-area: heading;
    font-family: "headerFont",sans-serif;
    display: flex;
    justify-content: center;
    font-size: 35px;
    text-align: center;
    color: #2A2A2A;
    margin-top: 30px;
    

}
.player{
    grid-area: player;
    border: 3px slateblue;
}
.vs{
    grid-area: vs;
}
.bot{
    grid-area: bot;
}

.player{
    display: flex;
    justify-content: center;
    gap: 150px;
    margin-top: 20px;
}
.bot{
    display: flex;
    justify-content: center;
    gap: 150px;
    margin-bottom: 25px;
}
.player img{
    width: 150px;
}
.bot img{
    width: 150px;
}
.item1{
    background-color: #0f1a23;
    border: 2px solid #0f1a23;
    border-radius: 15px;
    padding: 5px;

}
.item2{
    background-color: #0f1a23;
    border: 2px solid #0f1a23;
    border-radius: 15px;
    padding: 5px;

}
.item3{
    background-color: #0f1a23;
    border: 2px solid #0f1a23;
    border-radius: 15px;
    padding: 5px;

}
.vs{
    font-family: "vsFont",sans-serif;
    text-align: center;
    font-size: 40px;
    color: #1b1a1a;
}
@font-face {
    font-family: "headerFont";
    src: url("assets/fonts/Strong\ Bubble.ttf");
}
@font-face {
    font-family: "moldieFont";
    src: url("assets/fonts/Moldie\ Demo.otf");
}
@font-face {
    font-family: "vsFont";
    src: url("assets/fonts/Black\ Crush.otf");
}